.DataGrid {
  display: flex;
  padding: 20px;
}
.DataGrid__activate {
  text-decoration: none;
  color: white;
  padding: 20px;
  background-color: rgb(193, 153, 82);
  border-radius: 5%;
  margin: 0  auto;
}
