@import "../../../styles/common/_colors.scss";

.DataGrid {
  padding: 20px;
}
.DataGrid__activate {
  text-decoration: none;
  color: white;
  padding: 20px;
  background-color: rgb(193, 153, 82);
  border-radius: 5%;
  margin: 0  auto;
}
.DataGrid__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.DataGrid .item {
  margin: 20px;
  min-height: 16vw;
  background-color: $primary-color--light;
  flex: 0 0 16vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DataGrid .item__inner {

}
