@import "../../../styles/common/_colors.scss";

.Footer {
  padding: 40px;
  height: 50vh;
  background-color: $primary-color--dark;
  background: linear-gradient(
    135deg,
    #FFF3C1,
    #F8C3A8,
    #F18691,
    #B03D84,
    #6D2581
  );
}
