{
  "extends": "eslint-config-brigade/react",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "deepFreeze": true,
    "expect": true
  },
  "ecmaFeatures": {
    "modules": true,
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-multi-comp": 0,
    "react/prop-types": 0,
    // Temporarily disabled due to babel-eslint issues:
    "react/jsx-pascal-case": 0,
    "react/react-in-jsx-scope": 2,
    "no-use-before-define": 0,
    "no-console": 0,
    "no-shadow": 0,
    // Temporarily disabled due to babel-eslint issues:
    "block-scoped-var": 0,
    "padded-blocks": 0,
  },
  "plugins": [
    "react"
  ]
}
