@import "../../../styles/common/_colors.scss";
@import "../../../styles/common/_typography.scss";

.Header {
  background-color: $primary-color--light;
  min-height: 100vh;
  background-image: url(../../../static/snowy-mountains-16029-1920x1080.jpg);
  background-size: 113%;
  background-repeat: no-repeat;
}
.Header__nav {
  display: flex;
  background-color: rgba(0,0,0,.2);
}
.Header__nav__link {
  text-decoration: none;
  color: white;
  flex: 1;
  padding: 20px;
  text-align: center;
  transition: all 200ms linear;
}
.Header__nav__link:not(:last-of-type) {
  border-right: 1px solid rgba(9, 17, 60, 0.56);
}
.Header__nav__link:hover {
  color: $primary-color--dark;
}

.Header__title {
  font-family: testfont;
  font-size: 20rem;
  margin-top: 90px;
  color: $accent-color;
  text-align: center;
}
